  <!-- Show accounts if any exist, or show 'no account' message if there are none -->
  <h3><a href="/cards">Credit Card Accounts</a></h3>
  {{#if cards}}
  <table class="gridTable">
    <tr>
      <th class="gridCell">Account Name</th>
      <th class="gridCell">Credit Limit</th>
      <th class="gridCell">Available Credit</th>
      <th class="gridCell">Current Balance</th>
      <th class="gridCell">Percent Used</th>
    </tr>
    <!-- Loop over each object in the accounts array -->
    {{#each cards as |card| }}
      {{> cardGrid}}
    {{/each}}
    <tr>
      <th>Totals</th>
      <th class="gridCell gridCurrency">${{totalLimit}}</th>
      <th class="gridCell gridCurrency">${{totalAvailable}}</th>
      <th class="gridCell gridCurrency">${{totalBalance}}</th>
      <th class="gridCell gridPercent">{{totalUsed}}%</th>
    </tr>
  </table>
  {{else}}
    <p class="centered">No credit cards available. Go to the Credit Cards page and click the "Add Credit Card" button to add one.</p>
  {{/if}}
