  <tr>
    <td class="gridCell"><a href="/edit-card/{{id}}">{{title}}</a></td>
    <td class="gridCell gridCurrency">${{limit}}</td>
    <td class="gridCell gridCurrency">${{available}}</td>
    <td class="gridCell gridCurrency">${{balance}}</td>
    <td class="gridCell gridPercent">{{used}}%</td>
  </tr>
