  <tr>
    <td class="gridCell">{{title}}</td>
    <td class="gridCell gridCurrency">${{limit}}</td>
    <td class="gridCell gridCurrency">${{balance}}</td>
    <td class="gridCell gridCurrency">${{available}}</td>
    <td class="gridCell gridPercent">{{used}}%</td>
  </tr>
