  <tr>
    <td class="gridCell">{{title}}</td>
    <td class="gridCell gridCurrency">${{loan_amount}}</td>
    <td class="gridCell gridPercent">{{annual_interest_rate}}%</td>
    <td class="gridCell gridPercent">{{months}}</td>
    <td class="gridCell gridCurrency">${{payment}}</td>
    <td class="gridCell gridCurrency">${{balance}}</td>
    <td class="gridCell gridPercent">{{remaining}}%</td>
  </tr>
